@model IEnumerable<ShohagOnlinePortal.Models.SubmitMeContact>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>All</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
<div style="width: 100%; height: 55px; background-color: darkmagenta; margin: 0">
    <p style="margin: 0px; font-size: 25px; color: white; text-align: center; padding-top: 8px;">Suggestion for User</p>
</div>
<div style="margin: 0 100px;" class="col-sm-12 col-md-12">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
            </tr>
        }

    </table>
</div>
</body>
</html>
