@model ShohagOnlinePortal.Models.SubmitMeContact
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MD. SHOHAG MIA</title>
    <meta name="keywords" content="shohagshsasumi, shohaghassanornobshsahassan" />
    <META name="Description" content="Enterpreneur | Designer | Software Developer | MSP | Continuous Learner">
    <link href="~/favicon.ico" rel="shortcuticon" type="image/x-icon" />
    <!--Google web fonts-->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,600,700,600italic,200,200italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <!-- font awesome-->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/skillset.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/owl.transitions.css" rel="stylesheet" />
    <link href="~/Content/owl.theme.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>

<body>
    <!--preloader-->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>

    <header class="main_header">
        <div class="row">
            <div class="content">
                <a class="logo" href="#">MD. SHOHAG MIA</a>
                <div class="mobile-toggle"> <span></span> <span></span> <span></span></div>
                <nav>
                    <ul class="main_menu">
                        <li><a href=".hero">Home</a></li>
                        <li><a href=".skill_area">skills</a></li>
                        <li><a href=".work_area">working Process</a></li>
                        <li><a href=".portfolio_area">My Project</a></li>
                        <li><a href=".container_area">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- END row -->
    </header>

    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="6000" id="bs-carousel">
        @*//data-interval="2000"*@
        <!-- Overlay -->
        <div class="overlay"></div>

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bs-carousel" data-slide-to="1"></li>
            <li data-target="#bs-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <div class="slide-1"></div>
                <div class="hero">
                    <hgroup>
                        <h1>MD. <span> SHOHAG</span> MIA</h1>
                        <p>Enterpreneur  -  Designer  -  Software Developer  -  MSP  -  Continuous Learner </p>
                        <p>I really love my passion</p>
                        <br />
                        <br />
                    </hgroup>
                    <a href="#details" class="btn btn-danger page-scroll">details here</a>
                </div>
            </div>



            <div class="item slides">
                <div class="slide-2"></div>
                <div class="hero">
                    <hgroup>
                        @*<h2>MD. <span>SHOHAG</span> MIA</h2>
                            <h3>Get start your next awesome project with Me</h3>*@
                       

                    </hgroup>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                       
                    <a href="#process" class="btn btn-danger page-scroll">Working Process</a>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-3"></div>
                <div class="hero">
                    <hgroup>
                        @*<h2>MD. <span> SHOHAG</span> MIA</h2>
                            <h3>Get start your next awesome project with Me</h3>*@
                        
                       
                    </hgroup>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <a href="#project" class="btn btn-danger page-scroll">My Project</a>
                    @*<a href="#contact" class="btn btn-danger page-scroll">Contact</a>*@
                </div>
            </div>
        </div>
    </div>


    <div class="skill_area" id="details">
        <div class="container">
            <div class="row">
                <div class="skill_section">
                    <div class="col-md-4">

                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Why you will hire me?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body" style="text-align: justify">
                                        Because I'm the best person for my skills related jobs & respect my skills.
                                        I have the 3+ years of programming experience you’re looking for, a track record of successful projects,
                                        and proven expertise in agile development processes.
                                        I have the 1+ year of industry experience with National & Internationally.
                                        But I also bring a passion to the job that makes me the best person for my skills related jobs.
                                        I really love what I do.<br />That's why you will definitely hire me.
                                    </div>
                                </div>
                            </div>

                         
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            About Me
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body" style="text-align: justify">
                                        Hi, I’m MD.Shohag Mia.
                                        I'm studies BSc in Computer Science & Engineering at International Islamic University Chittagong (IIUC),
                                        Formar ASP.Net Trainee at BITM,
                                        Formar ASP.Net Web-API Trainee at WintellectNOW,
                                        Formar Python Trainee at Pluralsight,
                                        I have been a lot of time wastage in web surfing with some online training.
                                        I'm a fan of technology, entrepreneurship, programming
                                        & also interested to web development and innovation.
                                        I'm a continuous self learner.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <main>
                            <h2 id="skills wow bounceInRight animated">The <span>Skills</span> I have:</h2>

                            <div id="skillset">


                            </div>

                        </main>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- skill area end-->


    <div class="work_area" id="process">
        <div class="container">
            <div class="row">
                <div class="work_section">
                    <h1 class="wow bounceInLeft">My Functional <span>working</span> Process</h1>
                    <div class="col-md-12 wow bounceInRight animated">
                        <div class="bs-example">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#sectionA"><i class="fa fa-lightbulb-o"></i></a></li>
                                <li><a data-toggle="tab" href="#sectionB"><i class="fa fa-compass"></i></a></li>
                                <li><a data-toggle="tab" href="#sectionC"><i class="fa fa-cogs"></i></a></li>
                                <li><a data-toggle="tab" href="#sectionD"><i class="fa fa-paper-plane"></i></a></li>
                                <li><a data-toggle="tab" href="#sectionE"><i class="fa fa-line-chart"></i></a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="sectionA" class="tab-pane fade in active" style="text-align: justify">
                                    <h3>Strategy</h3>
                                    <p>A strategy is a plan of action designed to achieve a specific goal or series of goals within an organizational framework.</p>
                                </div>
                                <div id="sectionB" class="tab-pane fade" style="text-align: justify">
                                    <h3>Plan</h3>
                                    <p>
                                        First I have an idea of what my project’s end result will be,
                                        it’s time to plan my code of the project.
                                        This is probably the most important planning stage of all.
                                        Plan my code by breaking my planned program down into mini-programs –
                                        or more specifically, functions.
                                        For example, a translation game would require the following functions:<br />
                                        * A function to add a word and its translation to their respective arrays<br />
                                        * A function to call function 1 on each word<br />
                                        * A function to load a word onto the screen<br />
                                        * A function to fire when the user’s input is correct<br />
                                        * A function to fire when the user’s input is incorrect<br />
                                        * A function to determine whether to fire function 4 or function 5.<br />
                                        Planning my code in this way will make it much clearer.
                                        As a result, I’ll know exactly what code to write.
                                    </p>
                                </div>
                                <div id="sectionC" class="tab-pane fade" style="text-align: justify">
                                    <h3>Mechanism</h3>
                                    <p>Comming Soon...</p>
                                </div>
                                <div id="sectionD" class="tab-pane fade" style="text-align: justify">
                                    <h3>Title</h3>
                                    <p>Comming Soon...</p>
                                </div>
                                <div id="sectionE" class="tab-pane fade" style="text-align: justify">
                                    <h3>Workflow</h3>
                                    <p>Comming Soon...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- work area end   -->





    <div class="portfolio_area" id="project">
        <div class="container">
            <div class="portfolio_section">
                <div class="col-md-12 portfolio_top">
                    <h1>My <span>Project Based</span>  Activity...</h1>
                    <p>My Previous work recode,</p>
                </div>
            </div>

            <ul id="filters" class="clearfix">
                <li><span class="filter active" data-filter="Desktop WebDesign ASPNetWebFormWeb ASPNetWebMVC5 ASPNetWebAPI">All</span></li>
                <li><span class="filter" data-filter="Desktop">Desktop</span></li>
                <li><span class="filter" data-filter="WebDesign">Web Design</span></li>
                <li><span class="filter" data-filter="ASPNetWebFormWeb">ASP.Net Web Form</span></li>
                <li><span class="filter" data-filter="ASPNetWebMVC5">ASP.Net MVC5</span></li>
                <li><span class="filter" data-filter="ASPNetWebAPI">ASP.Net API</span></li>
            </ul>

            <div id="portfoliolist">

                <div class="portfolio Desktop" data-cat="Desktop">
                    <div class="portfolio-wrapper">
                        <img src="~/Image/portfolios/desktop/1.jpg" />

                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Visual Infography</a>
                                <span class="text-category">APP</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </div>
                </div>
                <div class="portfolio Desktop" data-cat="Desktop">
                    <div class="portfolio-wrapper">
                        <img src="~/Image/portfolios/desktop/2.jpg" />


                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Weatherette</a>
                                <span class="text-category">APP</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </div>
                </div>
                <div class="portfolio Desktop" data-cat="Desktop">
                    <div class="portfolio-wrapper">
                        <img src="~/Image/portfolios/desktop/3.jpg" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Graph Plotting</a>
                                <span class="text-category">APP</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </div>
                </div>

                <div class="portfolio WebDesign" data-cat="WebDesign">
                    <div class="portfolio-wrapper">
                        <img src="~/Image/portfolios/webDesign/1.jpg" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Typography Company</a>
                                <span class="text-category">Business card</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </div>
                </div>
                <div class="portfolio WebDesign" data-cat="WebDesign">
                    <div class="portfolio-wrapper">
                        <img src="~/Image/portfolios/webDesign/2.jpg" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">BMF</a>
                                <span class="text-category">Business card</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </div>
                </div>


                <div class="portfolio ASPNetWebFormWeb" data-cat="ASPNetWebFormWeb">
                    <div class="portfolio-wrapper">
                        <img src="~/Image/portfolios/webForm/1.jpg" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Scoccer</a>
                                <span class="text-category">Icon</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </div>
                </div>
                <div class="portfolio ASPNetWebFormWeb" data-cat="ASPNetWebFormWeb">
                    <div class="portfolio-wrapper">
                        <img src="~/Image/portfolios/webForm/2.jpg" />

                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">3D Map</a>
                                <span class="text-category">Icon</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </div>
                </div>
                <div class="portfolio ASPNetWebFormWeb" data-cat="ASPNetWebFormWeb">
                    <div class="portfolio-wrapper">
                        <img src="~/Image/portfolios/webForm/3.jpg" />

                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Sandwich</a>
                                <span class="text-category">Icon</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </div>
                </div>
                <div class="portfolio ASPNetWebFormWeb" data-cat="ASPNetWebFormWeb">
                    <div class="portfolio-wrapper">
                        <img src="~/Image/portfolios/webForm/4.jpg" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Sandwich</a>
                                <span class="text-category">Icon</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </div>
                </div>


                <div class="portfolio ASPNetWebMVC5" data-cat="ASPNetWebMVC5">
                    <div class="portfolio-wrapper">
                        <img src="~/Image/portfolios/mvc/1.jpg" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Backend Admin</a>
                                <span class="text-category">Web design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </div>
                </div>
                <div class="portfolio ASPNetWebMVC5" data-cat="ASPNetWebMVC5">
                    <div class="portfolio-wrapper">
                        <img src="~/Image/portfolios/mvc/2.jpg" />

                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Student Guide</a>
                                <span class="text-category">Web design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </div>
                </div>
                <div class="portfolio ASPNetWebMVC5" data-cat="ASPNetWebMVC5">
                    <div class="portfolio-wrapper">
                        <img src="~/Image/portfolios/mvc/3.jpg" />

                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Note</a>
                                <span class="text-category">Web design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </div>
                </div>


                <div class="portfolio ASPNetWebAPI" data-cat="ASPNetWebAPI">
                    <div class="portfolio-wrapper">
                        <img src="~/Image/portfolios/api/1.jpg" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Domino's Pizza</a>
                                <span class="text-category">Icon</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </div>
                </div>
                <div class="portfolio ASPNetWebAPI" data-cat="ASPNetWebAPI">
                    <div class="portfolio-wrapper">
                        <img src="~/Image/portfolios/api/2.jpg" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Instagram</a>
                                <span class="text-category">Icon</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div><!-- portfolio area end   -->





    <div class="container container_area" id="contact">
        <div class="row">
            <div class="contact_section">
                <h1>Contact</h1>
                <!-- <p>YOU WOULD LOVE TO WORK WITH ME THEN FOLLOW THE INSTRUCTIONS BELOW: </p> -->
                <p>If you are interested to contact with me then please contact me!</p>

                <div class="jumbotron col-md-12">


                    <div class="col-md-6 ">
                        <div class="contact_form">
                            <fieldset id="contact_form">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">

                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Your Name" } })
                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Your Email Address" } })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Your Mobile No" } })
                                                @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.Message, new { @class = "form-control", @placeholder = "Your Massage" })
                                                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-offset-0 col-md-10">
                                                <input type="submit" value="Submit Me" class="btn btn-success" />
                                            </div>
                                        </div>
                                    </div>
                                }
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-md-6" >
                        <div class="contact_text">
                            <h3>contact info</h3>
                            <ul class="contact_info">
                                <li>
                                    <a href="mailto:mdshohagmia14@outlook.com" target="_top">mdshohagmia14@outlook.com</a>   <br>
                                    <a href="mailto:shohagiiuc@outlook.com" target="_top">shohagiiuc@outlook.com</a>    <br>
                                    +8801926029000<br>
                                    +8801832221060
                                </li>
                                <li>IIUC Hall,Proshanti R/A,Cornel Hat<br>Chittagong<br> Bangladesh</li>
                                <br>
                                <br>

                            </ul>
                            <h3>Follow Me</h3>
                            <ul class="contact_social">
                                <a href="https://www.facebook.com/mdshohagmiaornob" target="_blank">
                                    <li>
                                        <i class="rss fa fa-facebook-square"></i>

                                    </li>
                                </a>
                                <a href="https://twitter.com/md_shohag_mia" target="_blank">
                                    <li>
                                        <i class="rss fa fa-twitter-square"></i>
                                    </li>
                                </a>
                                <a href="https://github.com/mdshohagmia" target="_blank">
                                    <li>
                                        <i class="rss fa fa-github-square"></i>
                                    </li>
                                </a>
                                <a href="https://www.linkedin.com/in/shohag-mia-257b03117/?trk=nav_responsive_tab_profile_pic" target="_blank">
                                    <li>
                                        <i class="rss fa fa-linkedin-square"></i>
                                    </li>
                                </a>
                                <a href="https://plus.google.com/u/0/114767556735808229010" target="_blank">
                                    <li>
                                        <i class="rss fa fa-google-plus-square"></i>
                                    </li>
                                </a>
                                <a href="#">
                                    <li>
                                        <i class="rss fa fa-rss-square"></i>
                                    </li>
                                </a>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p>Copy right-@DateTime.Now.Year . All right reserved @@ Shohag</p>
                </div>
            </div>

        </div>
    </div> <!-- contact area end   -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>





    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/wow.js"></script>
    <script src="~/Scripts/jquery.nicescroll.js"></script>
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <script src="~/Scripts/jquery.mixitup.min.js"></script>
    <script src="~/Scripts/imagesloaded.pkgd.min.js"></script>
    <script src="~/Scripts/skillset.js"></script>
    <script src="~/Scripts/owl.carousel.js"></script>
    <script src="~/Scripts/scrollupto.js"></script>
    <script src="~/Scripts/main.js"></script>


    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
</html>



































